.title-card {
        margin-top: 30px;
    margin-bottom: 0px;
}
.title-card h2{
    margin-bottom: 8px;
    text-align: left;
}
.card_list{
    display: flex;
        gap: 7px;
    overflow-x: scroll;
}
.card_list::-webkit-scrollbar{
    display: none;
}
.card_list img{
    width: 240px;
    border-radius: 4px;
    cursor: pointer;
}
.card_list .card{
    position: relative;
}
.more-cards{
        padding-left: 2%;
}


@media (max-width: 767px)
{
.more-cards {
    padding-left: 2%;
            padding-top: 6px;
}
.title-card {
    margin-top: 0px;
    margin-bottom: 0px;
}
.title-card h2 {
    margin-bottom: 25px;
    text-align: left;
            margin-top: 40px;
}
.card_list img {
    border-radius: 4px;
    cursor: pointer;
            width: 376px;
}

}