.footer{
    padding: 60px 4%;
    max-width: 1000px;
    margin: 0 auto;
}
.footer-icon{
    display: flex;
    gap: 20px;
       margin: 40px 0px;
}
.footer-icon img{
    width: 30px;
    cursor: pointer;
}
.footer ul{
    display: grid;
    grid-template-columns: auto auto auto auto;
        gap: 22px;
    margin-bottom: 30px;
        text-align: left;
    list-style: none;
}
.copyright-text{
    color: gray;
    font-size: 15px;
}