.hero{
    position: relative;

}
.banner-img{
    width: 100%;
    mask-image: linear-gradient(to right,transparent,black 75%);
    -weblit-mask-image: linear-gradient(to right,transparent,black 75%);

}
.here-caption{
    position: absolute;
    width: 100%;
    bottom: 0;
    padding-left: 2%;
        text-align: left;
}
.caption-img{
    width: 90%;
    max-width: 420px;
    margin-bottom: 20px;
}
.here-caption p{
    font-size: 15px;
    max-width: 700px;
    margin-bottom: 20px;
}
.hero-btns{
    display: flex;
    gap: 10px;
    margin-bottom: 50px;

}
.hero-btns .btn img{
    width: 25px;
}
.hero-btns .btn{
    display: inline-flex;
    padding: 8px 20px;
    gap: 10px;
    border: 0;
    outline: 0;
    font-size: 15px;
    align-items: center;
    font-weight: 600;
    cursor: pointer;
    background-color: white;
    border-radius: 4px;
}
.hero-btns .dark-btn{
    color: #fff;
    background-color: #6d6d6eb3;
}
.hero-btns .btn:hover{
    background-color: #ffffffbf;
}
 .hero-btns.btn .dark-btn{
    background-color: #6d6d6eb3;
}
@media (max-width: 767px){
    .here-caption {
    width: 100%;
    position: absolute;
    padding-left: 2%;
    text-align: left;
}
body{
      
        overflow-x: hidden !important;
    }
 .here-caption .title-card{
    display: none;
 }
.banner-img {
    width: 100%;
            height: 50vh;
    mask-image: linear-gradient(to right, transparent, black 75%);
    -weblit-mask-image: linear-gradient(to right,transparent,black 75%);
}
.caption-img {
    width: 60%;
    max-width: 420px;
    margin-bottom: 20px;
}
.here-caption p {
    font-size: 15px;
    margin-bottom: 20px;
    width: 100%;
           padding: 0px 3px;
    /* max-width: 92%; */
}
.Nav-left ul{
    display:none !important;
}

.footer {
    padding: 10px 1%;
    max-width: 1000px;
    margin: 0 auto;
}
.footer {
    padding: 15px 2%;
    max-width: 1000px;
    margin: 0 auto;
}
.footer ul {
    display: grid;
    grid-template-columns: 180px 168px;
    gap: 22px;
  margin-bottom: 38px;
    text-align: left;
    list-style: none;
}
}